/*#####################################################################
#
#					СТИЛИ ОСНОВНЫХ ЧАСТЕЙ ПРИЛОЖЕНИЯ		
#
#####################################################################*/

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

/*#####################################################################
#
#							КНОПКИ КРУГЛЫЕ В УГЛУ
#
#####################################################################*/

.rnd_btn  {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900; 
}


/*#####################################################################
#
#							РАЗНЫЕ КАСТОМНЫЕ БЛОКИ
#
#####################################################################*/

.sub_content_box{
	width: auto;
	height: auto;
	margin: 2px;
	padding: 2px;
}


/*#####################################################################
#
#							JS Editor
#
#####################################################################*/
#editor { 
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 20px;
  left: 0;
  right: 0;
}

.bigcard.mdl-card { 
  
  height: 655px;
}


/*#####################################################################
#
#							Оформленеи темы
#
#####################################################################*/
.mdl-layout .mdl-layout__drawer .mdl-navigation .mdl-navigation__link:hover {
  background-color: #ee5f1d;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.mdl-layout .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.mdl-layout .mdl-layout__content {
  background-color: #37474F;
}

.mdl-card {
  background-color: #c4cad1;
}

.mdl-layout .demo-drawer-header {
  background-color: #1d262b;
  padding: 16px;
  height: 151px;
}

.mdl-layout__drawer {
  border: none;
}

.mdl-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.mdl-list__item:hover {
  background-color: #bac3cc;
}

.mdl-textfield {
  padding: 16px;
}

.mdl-textfield__label {
  padding: 16px;
}

.mdl-card__title{
  color: rgba(255, 255, 255, 0.56);
  background-color: #7191a1;
}



/*#####################################################################
#
#							расположение ЛОГО
#
#####################################################################*/
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/*#####################################################################
#
#							ГАЛЕРЕЯ СКРИНШОТОВ
#
#####################################################################*/
img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 10%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.3;
}

.active,
.demo:hover {
  opacity: 1;
}